<div [@simpleFadeAnimation]  class="oddSection">
    <div class="text-center">

        <!-- <div *ngFor="let photo of items">
        <div [@photoAnimation]="photos.length">
           
         <img [scr]="photo" width="300px"> 
      </div> --> 
 <!-- </div> -->
 

        <img src="assets/img/IAF.png">
        <br>
        <h1>
            INDIAN COUNCIL FOR TECHNICAL EDUCATION
        </h1>
    </div>
    <div style="padding:15px;">
        <p>
        To establish and develop the Institute as a centre of higher learning, ever abreast with expanding horizon of knowledge in the field of engineering and technology, with entrepreneurial thinking, leadership excellence for life-long success and solve societal problem.
        </p>
    </div>
    <br><br>
    <div class="text-center">
        <img src="assets/img/DAC.jpg">
        <br>
        <h1>
            Dubai Accreditation Center
        </h1>
    </div>
    <div style="padding:15px;">
        <p>
        Dubai Accreditation Center (DAC) has recommended Certification Body accreditation to NQA Middle East, Dubai covering ISO 14001:2004 and OHSAS 18001:2007 standards.
        </p>
        <p>Though NQA Middle East has UKAS accreditations, it is important to be compliant to a local regulation requiring all certification bodies operating from Emirate of Dubai to be accredited by DAC.
        </p>
        <p>As per the Law 2/2010, DAC is recognized by the UAE government as the official body in the Emirate of Dubai responsible for assessing and accrediting the competence of organizations in the field of certification of management systems, products and personnel etc.
        </p>
        <p>DAC also became an International Accreditation Forum (IAF) MLA signatory in 2013 for Certification Bodies in Middle East with the main scope of ‘Management System Certification ISO/ IEC 17021 and sub scopes of Management Systems.</p>
    </div>
    <br><br>
    <div class="text-center">
        <!-- <img src="assets/img/JAS-ANZ.jpg"> -->
        <br>
        <h1>
            JAS-ANZ
        </h1>
    </div>
    <div style="padding:15px;">
        <p>
        JAS-ANZ supports international cooperation by establishing arrangements with accreditation bodies operating around the world.
        </p>
        <p>These arrangements mean countries recognise and accept each other’s certificates and inspection reports. This reduces the time, money and effort involved in re-certifying or re-inspecting. It makes it more efficient for one country to do business with another country.
        </p>
        <p>JAS-ANZ is an active member of and signatory to several cooperative arrangements between accreditors.
        </p>
    </div>
</div>