<div [@simpleFadeAnimation2]  style="padding: 15px;">
<div class="container">
    <div *ngIf="currentSection === 'courseSection'" style="border-width: 1px;">

        <div class="card" class="row">
          <div (click)="showSubCourses(t)" *ngFor="let t of courses" class="col-4">
            <div>
                <img src="{{t.img}}" alt="Avatar" style="width:300px;height: 100px;">
              </div>
              <br>
          </div>  
        </div>
    </div>
    <br>
    <div *ngIf="currentSection === 'subSection'"  style="border-width: 1px;">

        <div class="card" class="row">
          <div (click)="showSubCourses(t)" *ngFor="let t of subcourses" class="col-4">
            <div>
                <img src="{{t.img}}" alt="Avatar" style="width:300px;height: 100px;">
                {{t.name}}
                <a (click)="showCourses()" href="{{t.syllabus}}">Syllabus</a>
              </div>
              <br>
          </div>  
        </div>
        <br>
        <button (click)="showCourses()" class="btn btn-primary">Back</button>
    </div>
    <br>
    </div>
    </div>