<div [@simpleFadeAnimation]  class="oddSection">
    <br>
    <div class="text-center">
        <img src="assets/img/icaa.png">
        <br>
        <h1>
            INDIAN COUNCIL OF ACCREDITATION & ASSESSMENT
        </h1>
    </div>
    <div style="padding:15px;">
        <p>ICAA is an autonomous, accrediting agency, a private association assessing private training and coaching institutes offering technical, professional, and vocational coaching and training services and programs. As we know, accreditation plays an important role in survival and success of an institute.</p>
        <p>
            It is a seal of authentication, a benchmark of excellence for an institute validating to people who wish to avail of their services, that the institute has qualified professors, appropriate study material and course modules to offer superior educational environment for students enrolling with them. Besides, it also has suitable equipment and technology, and abides by policies with regard to recruitment and admission.
        </p>
        <p>
            The accreditation standards set by ICAA place emphasis on knowledge and discipline in order to stimulate academic environment and quality of teaching that such institutes are known to provide.
        </p>
    </div>
    <br><br>
    <div class="text-center">
        <img src="assets/img/icte.jpg">
        <br>
        <h1>
            INDIAN COUNCIL FOR TECHNICAL EDUCATION
        </h1>
    </div>
    <div style="padding:15px;">
        <p>
        To establish and develop the Institute as a centre of higher learning, ever abreast with expanding horizon of knowledge in the field of engineering and technology, with entrepreneurial thinking, leadership excellence for life-long success and solve societal problem.
        </p>
    </div>
    
    <br><br>
    <div class="text-center">
        <img src="assets/img/icde.jpg">
        <br>
        <h1>
            INDIAN COUNCIL FOR DISTANCE EDUCATION
        </h1>
    </div>
    <div style="padding:15px;">
        <p>
        To provide distance learning opportunities to the unreached and enable them to pursue quality higher education leading to competence of a high order.
        </p>
    </div>
    
</div>