<div class="oddSection">
    <div class="text-center">
        <h1>EXAMINATION</h1>
    </div>
    <h3>The Examination Procedure consists of three different Methodologies:</h3>
    <ol>
        <li>Study Centre</li>
        <li>Exam from Home / Open Book System</li>
        <li>Online (Subjective/Objective)</li>
    </ol>
    <div style="padding:15px;">
    <p>Study Centre method consists of complete theoretical Question Answer based examination. Each semester will have 10 days for completion. Within these 10 days the examination will be held at the respective study centre where the examination period will be for 3 hours per subject. Students will be allowed to take up examinations as they wish within these 10 days with a day break or with no break.</p>
    <p>Exam from Home or the Open Book System is a unique way of appearing for exams. In this method student can appear for the examination any point in time from anywhere across INDIA. Student will be given a period of 10 days for each semester to submit their answer sheets in their respective NITMS study centres via Courier or Speed Post. The question paper will be completely situation based wherein students will be given different case studies so as to get their practical knowledge on a high. This also results in good practical knowledge for students as they take on different case studies and try and get out their own views & opinions regarding it.</p>
    <p>Online Examination will consist of both Subjective and Objective type Questions. Students can submit their answers online through a proper submission id assigned to them. The questions will be situation based so as to get a more vibrant practical knowledge and practical thinking.</p>
    <p>Each subject will be of 100 marks wherein the passing marks will be 50%. Students will be assigned different grades as per the outcome of their result. Students can collect their Certificates & Mark sheets from the respective Regional Office of NITMS.</p>
    <h3>The Grades for Students will be given as follows:-</h3>
    <ol>
        <li>A + 80% & Above</li>
        <li>A 65% – 79%</li>
        <li>B + 60% – 64%</li>
        <li>B 50% – 59%</li>
    </ol>
    </div>
</div>